version: "3.9"

services:
  postgres:
    image: postgres:17
    container_name: PG
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123
      POSTGRES_DB: DB
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./DB/schema.sql:/docker-entrypoint-initdb.d/01_schema.sql
      - ./DB/seed.sql:/docker-entrypoint-initdb.d/02_seed.sql


volumes:
  pgdata:
